/* ---------------------------------- */
/* Navigation
------------------------------------- */

#navigation { float: left; margin-right: 0; }

#navigation ul.float-right {
	right: 10px;
	top: 0;
	position: absolute;
}

#navigation ul.float-right li a i { margin-right: 2px; }

.js .selectnav { display: none; }

.menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
	font-weight: 700;
	text-transform: uppercase;
	margin: 26px 0 0 25px;
}

.menu ul li {
	position: relative;
	margin-left:10px;
}

.menu ul ul {
	position: absolute;
	display: none;
	top: 100%;
	left: 0;
	z-index: 100;
	width: 200px;
	letter-spacing: 0;
}

.menu > ul li { float: left; }
.menu ul li:hover > ul { display: block; }

.menu ul a {
	display: block;
	position: relative;
}

.menu ul ul ul {
	top: 0;
	left: 100%;
}


/* Main Styles */
.menu ul a { text-decoration: none; }

.menu ul > li > a {
	color: #333;
	font-weight: 600;
	font-size: 14px;
	line-height: 18px;
	padding: 0;
	overflow: hidden;
	padding: 10px 14px;
	margin-bottom: 12px;
}

#current { background-color: #505050; color: #fff; }
#current.sf-with-ul:after { color: #fff; }

.menu ul ul li a,
.menu ul li.sfHover a.sf-with-ul:after,
.menu ul li a {
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

ul.float-right li a { 
	background-color: #f0f0f0;
	color: #333;
 }

ul.float-right li a:hover,
.menu ul li.sfHover a.sf-with-ul,
.menu ul li a:hover {
	background-color: #505050;
	color: #fff;
}